Seção 4 - Primeiras automações/telegram AutoMessage.json
{
  "name": "telegram AutoMessage",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        48
      ],
      "id": "9f4701ee-4626-4967-a730-2311e782ef36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        272
      ],
      "id": "c45f3a0e-3729-4754-9a82-9ec3460b3425",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Tp1h6JYfeLQhVJfe",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        256
      ],
      "id": "38f79b30-bda7-4dd6-a351-8c6a59fdc40a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        48
      ],
      "id": "f1f6d928-7db6-4fc2-8632-238c476fd2f8",
      "name": "Telegram Trigger",
      "webhookId": "f9a01ef9-90ff-49e0-8a04-97e4bce449e0",
      "credentials": {
        "telegramApi": {
          "id": "VbUKxeDxEJ50cLiK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        48
      ],
      "id": "c4ee4a9e-55e9-4409-b0f3-dff55a5b9f8e",
      "name": "Send a text message",
      "webhookId": "5cc20cd4-41ef-49fb-99e2-587164b0580b",
      "credentials": {
        "telegramApi": {
          "id": "VbUKxeDxEJ50cLiK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram\nEste nó é aquele que recebe a mensagem do usuário e também é o gatilho para iniciar todo o fluxo\n",
        "height": 256,
        "width": 320,
        "color": "#22C3D8"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -48
      ],
      "typeVersion": 1,
      "id": "c19f07ea-976f-42df-866e-a09a21bd2cc5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agente de IA\nAqui o agente está configurado com a inteligência artificial para responder as perguntas de forma automática e também tem uma memória para se lembrar das conversas",
        "height": 448,
        "width": 736,
        "color": "#736D1C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -48
      ],
      "typeVersion": 1,
      "id": "119bb6b3-c208-41b7-ada3-235f291ef036",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Telegram \nEste nó devolve a resposta do usuário, conforme a resposta recebida do agente de IA",
        "height": 256,
        "width": 368,
        "color": "#35A4C0"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -48
      ],
      "typeVersion": 1,
      "id": "81bed1d2-a216-4f16-83ec-214687cc8c75",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a5ec4aa3-f615-4806-8597-a33b6ae24835",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15041d284c9cb0d5b99697e4420ff87301988633e824a6fd2035ea6f94cdd72c"
  },
  "id": "zn9W9NBIqRzDCrvH",
  "tags": []
}